<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.GoodsMapper">

    <select id="getLatestGoodsList"  resultType="goods">
        select goodsId,goodsImg from goods where status = 0 limit 4
    </select>

    <select id="getHotGoodsType" resultType="goodsType">
        select id,typeName,searchCount from goodsType order by searchCount limit 5;
    </select>
    <select id="getGoodsByGoodsId" resultType="goods" parameterType="int">
        select * from goods where goodsId=#{goodsId}
    </select>

</mapper>