<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.SendSaleMapper">

    <insert id="insertIntoGoodsImg" parameterType="sendSale">
        insert into sendsale ( id , beforeImg , codeImg , faPiaoImg , brandImg , userId)
        values ( null, #{beforeImg} , #{codeImg} , #{faPiaoImg} , #{brandImg} , #{userId})
    </insert>

</mapper>