<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcy.mapper.UserMapper">

    <resultMap id="searchHistory" type="searchHistory">
        <id column="id" property="id"></id>
        <result column="typeId" property="typeId"></result>
        <result column="userId" property="userId"></result>
        <result column="" property="searchCount"></result>
        <association property="goodsType" javaType="goodsType">
            <id column="id" property="id"></id>
            <result column="typeName" property="typeName"></result>
        </association>
    </resultMap>

    <select id="getUserSearchHistory" parameterType="int" resultMap="searchHistory">
        select * ,typeName from searchHistory s left join goodsType g on s.typeId = g.id order by searchCount limit 5 where userId = #{id};
    </select>

    <update id="getDeleteSearchHistory" parameterType="int">
        delete from searchHistory where userId = #{id}
    </update>
</mapper>